.test {
  transition: all 200ms ease-in-out;
}

.test2 {
  transition: width 200ms ease-in-out;
}

.test3 {
  transition: width 200ms ease-in-out, height 200ms ease-in-out;
}

.test4 {
  transition: width 400ms cubic-bezier(1, 0.5, 0.8, 1) 100ms, height 400ms cubic-bezier(1, 0.5, 0.8, 1) 100ms;
}
