///* Raise a number to a power */
///***********************************************/
@function _pow($x, $n) {
  $result: 1;
  @for $i from 1 through $n {
    $result: $result * $x;
  }
  @return $result;
}

///* Remove the unit  */
///***********************************************/
@function _strip-unit($value) {
  @if type-of($value) == 'number' {
    @return $value / ($value * 0 + 1);
  }

  @return $value;
}

///* Round a number to a specified decimal precision */
///***********************************************/
@function _precision-round($float, $digits: 4) {
  $pow: _pow(10, $digits);

  @return round($float * $pow) / $pow;
}

///* PX to EM function */
///***********************************************/
@function _convert-to-em($px, $base) {
  @return _precision-round(_strip-unit($px) / _strip-unit($base) * 1em);
}

@function em($value, $base: $em-base-font-size) {
  $em_values: ();
  @each $item in $value {
    $em_values: append($em_values, _convert-to-em($item, $base));
  }
  @return $em_values;
}
