.product {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.product__item {
  margin-top: 10px;
}

.layout {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.layout__section {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 50px;
  padding: 10px;
  color: #fff;
  background-color: #5cb85c;
}

.layout__section--left {
  width: calc(33.33333% - 20px);
}

.layout__section--left:nth-child(1n) {
  margin-right: 30px;
}

.layout__section--left:last-child {
  margin-right: 0;
}

.layout__section--left:nth-child(2n) {
  margin-right: 0;
}

.layout__section--right {
  width: calc(66.66667% - 10px);
}

.layout__section--right:nth-child(1n) {
  margin-right: 30px;
}

.layout__section--right:last-child {
  margin-right: 0;
}

.layout__section--right:nth-child(2n) {
  margin-right: 0;
}

.layout2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.layout2__section {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 50px;
  padding: 10px;
  color: #fff;
  background-color: #5cb85c;
}

.layout2__section--left {
  width: 21.25%;
  margin-left: 8.75%;
}

.layout2__section--left:nth-child(1n) {
  margin-right: 5%;
}

.layout2__section--left:last-child {
  margin-right: 0;
}

.layout2__section--left:nth-child(2n) {
  margin-right: 0;
}

.layout2__section--right {
  width: 65%;
}

.layout2__section--right:nth-child(1n) {
  margin-right: 5%;
}

.layout2__section--right:last-child {
  margin-right: 0;
}

.layout2__section--right:nth-child(2n) {
  margin-right: 0;
}
