@import "../../src/csscoder-lib/csscoder-lib";

.product {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &__item {
    margin-top: 10px;
  }
}

.layout {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &__section {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 50px;
    padding: 10px;
    color: #fff;
    background-color: #5cb85c;

    &--left {
      @include col(4, 2, 30px);
    }

    &--right {
      @include col(8, 2, 30px);
    }
  }
}

.layout2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &__section {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 50px;
    padding: 10px;
    color: #fff;
    background-color: #5cb85c;

    &--left {
      @include col(3, 2, 5%);
      @include col-offset(1, 5%);
    }

    &--right {
      @include col(8, 2, 5%);
    }
  }
}
